{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="https://kit.fontawesome.com/6b98d6d047.js" crossorigin="anonymous"></script>

    <title>
      {% block title %}
        Waste Reportings
      {% endblock %}
    </title>
  </head>

<body>
  <div class="container">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'profile' %}"><i class="fas fa-user"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>

              <!-- Category Menu  -->
              {% if cat_menu %}
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Status
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for item in cat_menu %}
                      <a class="dropdown-item" href="{% url 'status' item %}">{{ item|title }}</a>
                    {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">

              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name }}</a>
                <a class="nav-item nav-link" href="{% url 'add_post' %}">Add Post</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>

              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>

              {% endif %}

            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <!-- <div class="row">
        <div class="col-md-10"> -->
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
                {% block content %}

                {% endblock %}

    <!-- </div> -->
  </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
