
{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}

{% block content %}
  {% for post in object_list %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ post.creator.profile.profile_picture.url}}" alt="">

      <div class="media-body">

        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' post.creator.username %}">{{ post.creator.first_name }} {{ post.creator.last_name }}</a>
          <small class="text-muted">{{ post.created_date }} </small>
          -<em><small>{{ post.location }}</small></em>
        </div>

          <em><small>Status: {{ post.status|title }}</small></em>
          <h2><a class="article-title" href="{% url 'problem-detail' post.id %}">{{ post.problem_title }}</a></h2>

        {% if post.image %}
          <img src="{{ post.image.url }}">
        {% endif %}

      </div>

    </article>
  {% endfor %}

  <div class="pagination">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4"href="?page={{ page_obj.previous_page_number }}">Previous</a>
        <!-- <a class="btn btn-outline-info mb-4"href="?page=1">First</a> -->
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4"href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
          <a class="btn btn-outline-info mb-4"href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor%}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4"href="?page={{page_obj.last_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4"href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
  </div>


{% endblock %}
