{% extends 'base.html' %}

{% block title %}
  {{ postproblem.creator }}
{% endblock %}

{% block content %}
<div class="content-section">
  <div class="">
    <h1>{{ postproblem.creator.first_name }} {{ postproblem.creator.last_name }}</h1>
    <em>{{ postproblem.created_date }}</em>
    <small>{{ postproblem.location }}</small>
    {% if user.is_authenticated %}
      {% if user.id == postproblem.creator.id %}
        <a href="{% url 'update_post' postproblem.pk %}"><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_post' postproblem.pk %}"><i class="fas fa-trash-alt"></i></a>
      {% endif %}
    {% endif %}
    <hr>
    <em><small>Status: {{ postproblem.status|title }}</small></em>
    <p>{{ postproblem.problem_title|safe }}</p>

    {% if postproblem.image %}
      <img src="{{ postproblem.image.url }}">
    {% endif %}

    <div class="like">
      <em>{{ total_likes }} Likes</em>
    </div>
    <hr>
    <form action="{% url 'like_post' postproblem.pk %}" method="POST">
      {% csrf_token %}
      {% if user.is_authenticated %}

        {% if liked %}
          <button type="submit" name = "post_id" value= "{{ postproblem.id }}" class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
          <button type="submit" name = "post_id" value= "{{ postproblem.id }}" class="btn btn-primary btn-sm">Like</button>
        {% endif %}
        <a class="btn btn-primary btn-sm" href="{% url 'add_comment' postproblem.pk %}">Comment</a>

      {% else %}

        <small><a href="{% url 'login' %}">Login</a> to like post</small>

      {% endif %}
    </form>

  </div>

  <hr><hr>

  <div class="">
    <h3>Comments</h3>
    <hr>
    {% if not postproblem.comments.all %}
      No Comments <br>
      <a class="btn btn-secondary btn-sm" href="{% url 'add_comment' postproblem.pk %}">Add Comment</a>
    {% else %}
      {% for comment in postproblem.comments.all %}
        <strong>{{ comment.user.first_name }} {{ comment.user.last_name }}</strong>
        <em>{{ comment.date_commented }}</em>
        <br>
        {{ comment.content }}
        <hr>
      {% endfor %}
    {% endif %}
  </div>

</div>
{% endblock %}
