
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Edit Post
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.id == postproblem.creator.id %}
      <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Edit Post</legend>
                    <!-- {{ form.media }} -->
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit">Update</button>
                </div>
            </form>
      </div>
    {% else %}
      <h1>You're not allowed</h1>
    {% endif %}
  {% else %}
    <p> You are not logged in....</p>
    Click <a href="{% url 'login' %}">Login</a>
  {% endif %}
{% endblock %}
